<div class="section section02">

  <!-- ************************************************************
  //  text
  // ************************************************************ -->
  <div class="textWrap">

    <h3 class="subTit">
      <img src="/project-name/assets/resource/svg/logo01.svg" alt="">
      <img src="/project-name/assets/resource/svg/logo02.svg" alt="">
    </h3>

    <div class="bar"></div>

    <h2 class="tit">
      New NY style<br class="sp">
      with <br class="pc"><span>Tiffany</span><br class="sp">
      East West watch
    </h2>

    <p class="text"><img src="/project-name/assets/resource/img/movie/text03_sp.png" alt="" class="responsiveImg spSize"></p>
    
    <div class="play">
      PLAY THE MOVIE
    </div>
    
  </div>

  <!-- ************************************************************
  //  next
  // ************************************************************ -->
  <div class="next">
    <p class="text">INTERVIEW</p>
    <div class="bar"></div>
  </div>

  <!-- ************************************************************
  //  video
  // ************************************************************ -->
  <div id="sec02VideoWrap">
    <div id="sec02Video"></div>
  </div>  

  <!-- ************************************************************
  //  videoUI
  // ************************************************************ -->
  <%- include('../../parts/_videoUI'); %>

</div>