<div class="section section01" data-id="top">

  <!-- ************************************************************
  //  titWrap
  // ************************************************************ -->
  <div class="titWrap">
    <!--<img src="/project-name/assets/resource/svg/logo01.svg" alt="">-->
    <!--<img src="/project-name/assets/resource/svg/logo02.svg" alt="">-->
    <!-- <p class="text text01">with Tiffany East West watch</p>
    <p class="text text02">
      TIFFANY & Co.&nbsp;&nbsp;&nbsp;<img src="/project-name/assets/resource/svg/x.svg" alt="">&nbsp;&nbsp;&nbsp;madame FIGARO.jp
    </p> -->
    <p class="text text01">
      <!--<img src="/project-name/assets/resource/img/top/text01_pc.png" alt="" class="responsiveImg spSize">-->
    </p>
    
  </div>

  <!-- ************************************************************
  //  time
  // ************************************************************ -->
  <div class="timeWrap">

    <div class="textWrap">

      <p class="text">
        NY TIME 
      </p>

      <p class="time"><span class="h01">1</span><span class="h02">6</span>&nbsp;<span class="colon">:</span>&nbsp;<span class="m01">3</span><span class="m02">0</span></p>

    </div>

  </div>


  <!-- ************************************************************
  //  next
  // ************************************************************ -->
  <a href="/movie/" class="pjax">
    <div class="next">
      <p class="text">Movie</p>
      <!-- <div class="bar"></div> -->
      <%#- include('../../../resource/svg/top/arrow.svg'); %>
      <%#- include('../../../resource/svg/top/arrow_sp.svg'); %>
    </div>
  </a>

</div>