<!-- video ui -->
<div class="videoUI">

  <div class="bgOverlay"></div>

  <!-- indicator -->
  <div class="indicator"></div>

  <div class="ui_stop"><img src="/project-name/assets/resource/svg/movie/stop.svg" alt=""></div>
  <div class="ui_play"><img src="/project-name/assets/resource/svg/movie/play.svg" alt=""></div>
  <div class="ui_close"><img src="/project-name/assets/resource/img/movie/close.png" alt=""></div>

  <!-- ui stop -->
  <div class="stopWrap">
  
    <!-- svg line -->
    <%- include('../../../resource/svg/movie/circle.svg'); %>

    <div class="circle"></div>

    <div class="barWrap">
      <div class="bar"></div>
      <div class="bar"></div>
    </div>

  </div>

  <!-- audio -->
  <div class="volume">
    <div class="inner">
      <div class="item bar bar01"></div>
      <div class="item bar bar02"></div>
      <div class="item bar bar03"></div>
      <div class="item bar bar04"></div>
      <div class="item bar bar05"></div>
    </div>
  </div>

  <!-- credit -->
  <p class="credit">STAFF CREDIT</p>
  <div class="creditWrap">

    <!-- close -->
    <div class="menuBtn"></div>
    
    <!-- details sss -->
    <div class="details">
      <h3 class="tit">Staff Credit</h3>
      <div class="bar"></div>
      <ul class="list">
        <li class="item">Video : HIROO TAKAOKA</li>
        <li class="item">Stylisme : YOKO MIYAKE</li>
        <li class="item">Coiffure : DEYCKE HEIDORN (FACTORY DOWNTOWN)</li>
        <li class="item">Maquillage : YACINE DIALLO (BRIDGE)</li>
        <li class="item">Manicure : CANDICE IDEHEN (BRIDGE)</li>
        <li class="item">Coordination : KIMI SUZUKI</li>
      </ul>      
    </div>

  </div>

</div>